* {
    font-family: Courier;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    border: none;
    margin-bottom: 0px;
}

#waybar {
    background-color: #333333;
    color: #ffffff;
}
#clock {
    color: #ffffff;
}
#battery {
    color: #ffffff;
}
#cpu {
    color: #11ee11;
}
#memory
{
    color: #ee1111;
}

#workspaces * {
    color: #ffffff;
    margin: 0px;
    padding: 0px;
/*    background-color: #ffffff;*/
}

#workspaces button.active {
    color: #ee00ee;
    border-radius: 0px;
    background-color: #000011;
}

