* {
    font-family: Courier;
    font-size: 13px;
}

#waybar {
    background-color: #333333;
    color: #ffffff;
}
#clock {
    color: #ffffff;
    margin: 0 2px;
}
#battery {
    color: #ffffff;
    margin: 0 2px;
}
#cpu {
    color: #11ee11;
    margin: 0 2px;
}
#memory
{
    color: #ee1111;
    margin: 0 2px;
}
